.paper{
    padding: 2rem;
    line-height: 1.6;
    color: gray;
    text-align: center;  
}

.paper-title{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    color: white;
    padding: 1em;
}
.paper-details{
  
}
.paper-heading{
    color: #324273;
    font-size: 32px;
    font-weight: 800;
}
.paper-represent{
    font-size: 24px;
    font-weight: 800;
    color: #1e73be;
    margin: 25px 0px;
}
.paper-content{
    margin-top: 30px;
    font-size: .95rem;
    font-weight: 500;
    color: rgb(99, 95, 95);
    align-self:flex-start;
}
.paper-submit{
    padding: .7rem 1rem;
    background-color: rgb(21, 116, 204);
    border: none;
    border-radius: 3px;
    color: white;
    font-size:.7rem;
    font-weight:600;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 350ms;

}
.paper-submit:hover{
    transform: scale(.955);
    background-color: rgb(8, 68, 136);
}